body {
    font-size: 18px;
}

.container {
    max-width: 800px;
}

header {
    margin-top: 20px;
    margin-bottom: 15px;
}

header nav {
    background-image: url("/img/saturn.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header nav a {
    color: #ffffff !important;
}

header nav .navbar-brand img {
    height: 24px;
}

article {
    color: #444;
    margin-bottom: 60px;
    clear: both;
}

article .meta {
    margin-bottom: 20px;
    color: #999999;
    font-size: 14px;
}

article .comments {
    margin-top: 60px;
    margin-bottom: 60px;
}

article .more {
    margin-top: 20px;
    text-align: left;
}

article img {
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: 60px;
    margin-bottom: 60px;
    color: #535353;
    font-size: 14px;
}

/* Resume */

.resume-avatar {
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: url("/img/iam.jpg");
    background-size: cover;
    background-position: center right;
}