.container {
    max-width: 960px;
}

header {
    margin-top: 20px;
    margin-bottom: 30px;
}

article {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 60px;
    clear: both;
}

article .meta {
    margin-bottom: 20px;
}

article .meta span {
    display: inline;
    padding-right: 20px;
    color: #999999;
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.4;
}

article .comments {
    margin-top: 60px;
    margin-bottom: 60px;
}

article .more {
    margin-top: 20px;
    text-align: left;
}

footer {
    margin-top: 60px;
    margin-bottom: 60px;
}

/**
 * Extra
 */
del {
    color: #b60000;
}

img.center {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

img.left {
    float: left;
    margin-right: 15px;
}


img.right {
    float: right;
    margin-left: 15px;
}

#orphus {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

@media (max-width: 768px) {
    #orphus {
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

.info {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #5bc0de;
    background-color: #f4f8fa;
}

/**
 * Override
 */

.navbar-default {
    background-image: url("../img/saturn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #000;
    color: #fff;
}

.navbar-default a {
    color: #fff !important;
}

.navbar-default a:hover {
    color: #b8b8b8 !important;
}

.navbar-default .navbar-brand {
    max-height: 50px;
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 0;
    padding-right: 0;
}

.navbar-brand img {
    max-height: 30px;
}

.gist {
    font-size: 80%;
}

pre {
    margin-top: 15px;
    margin-bottom: 15px;
}

code {
    color: rgb(68, 68, 68);
    background-color: rgb(233, 233, 233);
}

.img-responsive {
    display: inline;
}
