---
layout: default
title: Elfet &raquo; Блог о программировании на PHP, Symfony, Silex, Doctrine.
background: /img/popka.jpg
---

{% for post in site.posts %}
<article>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% include meta.html post=post %}
    <div class="content">
        {% if post.content contains "<!--more-->" %}
        {{ post.content | split:"<!--more-->" | first % }}
        <div class="more">
            <a class="btn btn-default btn-sm" href="{{ post.url }}">Далее…</a>
        </div>
        {% else %}
        {{ post.content }}
        {% endif %}
    </div>
</article>
{% endfor %}
