---
layout: default
title: Elfet Test
---

{% for post in site.posts %}
<article>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="meta">
        <span>
            <i class="glyphicon glyphicon-calendar"></i>
            {{ post.date | date_to_long_string }}
        </span>
    </div>
    <div class="content">
        {% if post.content contains "<!--more-->" %}
        {{ post.content | split:"<!--more-->" | first % }}
        <div class="more">
            <a class="btn btn-default btn-sm" href="{{ post.url }}">Далее…</a>
        </div>
        {% else %}
        {{ post.content }}
        {% endif %}
    </div>
</article>
{% endfor %}