@import "../styles/variables";

.npm-names {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 1000px;

  a {
    font-family: $monospace;
  }

  a:active,
  a:visited {
    color: #609;
  }
}
