@bootstrap: "../../bower_components/bootstrap/less";
@import "@{bootstrap}/variables.less";

@font-family-base: @font-family-serif;
@headings-font-family: @font-family-base;
@font-size-base: 22px;
@code-bg: #ffffff;
@pre-bg: #ffffff;
