<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Anton Medvedev">
    <meta name="description" content="Блог о программировании на PHP, Symfony, Silex, Doctrine, Deployer, WebCrypt.">
    <link rel="shortcut icon" href="/favicon.png">
    <link type="application/atom+xml" rel="alternate" href="/atom.xml">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/extra.css">
    <link rel="stylesheet" href="/lib/highlight/style.css">
</head>
<body>

<header>
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation" {% if page.background %}style="background-image: url('{{ page.background }}');"{% endif %}>
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="/img/logo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Блог</a></li>
                        <li><a href="/contacts.html">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<section>
    <div class="container">
        {{ content }}
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/creative-commons.html"><img src="/img/cc.png" alt="cc"></a>
                Elfet 2007 - {{ site.time | date: '%Y' }}
            </div>

            <div class="col-md-4 text-center">
                <a href="https://twitter.com/antonmedv" class="twitter-follow-button" data-show-count="false"
                   data-lang="ru">Читать @antonmedv</a>
                <script>
                    !function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + '://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, 'script', 'twitter-wjs');
                </script>
            </div>

            <div class="col-md-4 text-right">
                <a href="http://feeds.feedburner.com/elfet"><img src="/img/rss/small.png" alt="rss"></a>
            </div>
        </div>
    </div>
</footer>

<script src="/lib/jquery.min.js"></script>
<script src="/lib/jquery.cookie.js"></script>
<script src="/lib/highlight/highlight.js"></script>
<script src="/lib/orphus/orphus.js"></script>

<a href="http://orphus.ru" id="orphus" target="_blank">
    <img alt="Система Orphus" src="/lib/orphus/orphus.gif" border="0" width="125" height="115"/>
</a>

<script>
    $(function () {
        /**
         * Init Highlighting
         */
        hljs.initHighlightingOnLoad();

        /**
         * Show Orphus banner only once.
         */
        if (!$.cookie('visited')) {
            $.cookie('visited', 'yes', { expires: 1 });
            $('#orphus').fadeIn("slow");
        }
    });
</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-33445714-1', 'elfet.ru');
    ga('send', 'pageview');
</script>
</body>
</html>
