---
layout: default
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
    <div class="meta">
      <i class="icon-date"></i>
      {{ page.date | date_to_long_string }}
    </div>
  </header>

  <section class="content">
    {{ content }}
  </section>

  <div class="fleuron">❦</div>

  <section class="about-the-author">
    <div class="avatar"></div>
    <div class="about-text">
      Hi, I’m Anton. If you liked the post share it
      <a class="btn" href="https://twitter.com/intent/tweet?text=&url={{ site.baseurl }}{{ page.url }}" target="_blank">
        <svg class="icon-twitter" width="18" height="15" viewBox="0 0 18 15" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 1.776a7.213 7.213 0 0 1-2.12.596A3.778 3.778 0 0 0 17.503.277a7.273 7.273 0 0 1-2.346.918A3.642 3.642 0 0 0 12.462 0C10.424 0 8.77 1.696 8.77 3.787c0 .296.032.585.095.862-3.069-.158-5.79-1.664-7.612-3.958a3.856 3.856 0 0 0-.5 1.906c0 1.313.652 2.472 1.643 3.152a3.626 3.626 0 0 1-1.673-.473v.047c0 1.835 1.273 3.366 2.963 3.713-.31.089-.636.133-.973.133-.238 0-.47-.023-.695-.067.47 1.504 1.833 2.599 3.45 2.628A7.292 7.292 0 0 1 0 13.3 10.282 10.282 0 0 0 5.66 15c6.794 0 10.508-5.77 10.508-10.774 0-.164-.003-.329-.01-.49A7.58 7.58 0 0 0 18 1.776" fill="#424242" fill-rule="evenodd"></path>
        </svg>
        Tweet
      </a>
      <a class="btn" href="http://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ page.url }}" target="_blank">
        <svg class="icon-facebook" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.614 18H.994A.993.993 0 0 1 0 17.006V.993C0 .445.445 0 .993 0h16.014c.548 0 .993.445.993.993v16.013a.994.994 0 0 1-.993.994H12.42v-6.97h2.34l.35-2.717h-2.69V6.578c0-.786.218-1.322 1.346-1.322h1.438v-2.43a19.23 19.23 0 0 0-2.096-.107c-2.074 0-3.494 1.266-3.494 3.59v2.004H7.27v2.716h2.345V18z" fill="#424242" fill-rule="evenodd"></path>
        </svg>
        Share
      </a>
    </div>
  </section>

  {% if page.comments_id %}
  <section class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'elfet';
      var disqus_identifier = '{{ page.comments_id }}';
      var disqus_url = '{{ site.baseurl }}{{ page.url }}';
      (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </section>
  {% endif %}
</article>
