---
layout: default
---
<div class="resume-avatar"></div>
<h1>{{ page.title }}</h1>
<hr>
<h2 class="text-muted">Образование</h2>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-2 hidden-print">
        <img src="/img/resume/gu.png" class="img-responsive">
    </div>
    <div class="col-md-10">
        <h4>Санкт-Петербургский Государственный Университет</h4>

        <p>
            Математико-механический факультет<br>
            Фундаментальные информатика и информационные технологии (Магистр)
        </p>

        <div>2012-2014</div>
    </div>
</div>

<div class="row">
    <div class="col-md-2 hidden-print">
        <img src="/img/resume/smtu.png" class="img-responsive">
    </div>
    <div class="col-md-10">
        <h4>Санкт-Петербургский Государственный Морской Технический Университет</h4>

        <p>
            Факультет кораблестроения и океанотехники<br>
            Прикладная математика (Специалист)
        </p>

        <div>2005-2010</div>
    </div>
</div>

<hr>

<button class="btn btn-default hidden-print pull-right" onclick="$('.skills p.text-muted').toggle();"><i class="glyphicon glyphicon-eye-close"></i></button>
<h2 class="text-muted">Навыки</h2>
<table class="table skills">
    <tr class="skill">
        <td>
            <h4>PHP</h4>

            <p class="text-muted">
                Начинал работать с PHP 5.1. Постоянно слежу на развитием языка.
                Понимаю внутреннее устройство PHP.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
        </td>
    </tr>

    <tr class="cat">
        <td colspan="2">Основы</td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>ООП</h4>

            <p class="text-muted">
                Понимаю принципы ООП. Стараюсь писать в ООП парадигме, без лишних усложнений.
                Стараюсь содержать все максимально просто, но не проще. Владею абстрактным мышлением.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
        </td>
    </tr>

    <tr class="sub-skill">
        <td>
            <h4>Паттерны</h4>

            <p class="text-muted">
                Знаю распространенные паттерны и случаи когда они применимы.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
        </td>
    </tr>

    <tr class="sub-skill">
        <td>
            <h4>Алгоритмы</h4>

            <p class="text-muted">
                Разбираюсь в основных алгоритмах и структурах данных. Могу реализовать любой алгоритм.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>

    <tr class="cat">
        <td colspan="2">Фреймворки и библиотеки</td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>Symfony</h4>

            <p class="text-muted">
                Очень люблю Symfony, постоянно использую её компоненты, либо весь фреймфорк.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>Yii</h4>

            <p class="text-muted">
                Делал несколько сайтов на Yii, больше предпочитаю Symfony.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>Doctrine</h4>

            <p class="text-muted">
                Использую как ORM, так и DBAL и Common части библиотеки.
                Знаю множество подводных камней при работе с Doctrine ORM.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>

    <tr class="cat">
        <td colspan="2">Инструменты</td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>Git, SVN</h4>

            <p class="text-muted">
                Использую системы контроля версий для всех своих проектов.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>PhpStorm</h4>

            <p class="text-muted">
                Отлично знаю PhpStorm. Могу работать в любой другой IDE от JetBrains.
                Помогает мне в работе, увеличивает мою продуктивность.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>XDebug, Xhprof</h4>

            <p class="text-muted">
                Отладка и профилирование обязательные составляющие разработки на PHP.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>PHPUnit</h4>

            <p class="text-muted">
                Использую юнит-тестирование. Пробовал работать по TDD.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>

    <tr class="cat">
        <td colspan="2">Базы данных</td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>MySQL</h4>

            <p class="text-muted">
                Знаю SQL и особенности его для MySQL. Умею оптимизировать запросы. Использую MySQL EXPLAIN.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>Memcached</h4>

            <p class="text-muted">
                Использую как кэш.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>MongoDB</h4>

            <p class="text-muted">
                Использовал в паре проектов. Проштудировал документацию, изучил исходный код, не понравилась, перешёл на RethinkDB.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>RethinkDB</h4>

            <p class="text-muted">
                Использовал в одном проекте.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>


    <tr class="cat">
        <td colspan="2">Web</td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>HTTP, AJAX, WebSocket</h4>

            <p class="text-muted">
                Разбираюсь в клиент-серверных технологиях. Создавал WebSocket приложения.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>HTML5, CCS3</h4>

            <p class="text-muted">
                Умею верстать и создавать сложные интерфейсы на HTML и CSS.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>JavaScript</h4>

            <p class="text-muted">
                Знаю JavaScript. Работал с CoffeScript, пробовал TypeScript.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>

    <tr class="cat">
        <td colspan="2">Оп. системы</td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>Debian/Ubuntu</h4>

            <p class="text-muted">
                Опытный пользователь. Умею настраивать веб-сервер и сервер баз данных.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>Mac OS X</h4>

            <p class="text-muted">
                Опытный пользователь. Использую для разработки.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>

    <tr class="cat">
        <td colspan="2">Прочие</td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>C#</h4>

            <p class="text-muted">
                Могу создать простое приложение для Windows в Visual Studio.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>C++</h4>

            <p class="text-muted">
                Могу создать простую консольную утилиту. Работал c Boost. Работал с умными указателями.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>
    <tr class="sub-skill">
        <td>
            <h4>Java, Python, Ruby, Rust</h4>

            <p class="text-muted">
                Пробовал программировать на этих языках. Читал документацию, книжки.
                В программировании на Java сильно помогает JetBrains IDEA.
            </p>
        </td>
        <td class="stars">
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </td>
    </tr>
</table>

<hr>

<h2 class="text-muted">Опыт работы</h2>
<div class="experience">
    <div class="row">
        <div class="col-md-2">
            2012-{{ site.time | date: '%Y' }}
        </div>
        <div class="col-md-10">
            <h4>Freelance</h4>
            <h6>Программист PHP</h6>
            Разработка чата ElfChat, создание сайтов.
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            2011-2012
        </div>
        <div class="col-md-10">
            <h4>ДииипМи, ООО</h4>
            <h6>Программист PHP</h6>
            Разработка портала deeep.me, разработка сайтов.
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            2011-2011
        </div>
        <div class="col-md-10">
            <h4>Концерн Морское подводное оружие – Гидроприбор, ОАО</h4>
            <h6>Инженер-конструктор второй категории</h6>
            Разработка алгоритмов, проектирование приборов.
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            2010-2011
        </div>
        <div class="col-md-10">
            <h4>Бивайб, ООО</h4>
            <h6>Программист PHP</h6>
            Разработка тематической социальной сети по фильмам.
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            2007-2010
        </div>
        <div class="col-md-10">
            <h4>Freelance</h4>
            <h6>Программист PHP</h6>
            Разработка дополнений к веб-чатам, разработка сайтов.
        </div>
    </div>
</div>