---
layout: default
---
<div class="resume-avatar"></div>
<h1>{{ page.title }}</h1>
<hr>
<h2 class="text-muted">Образование</h2>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-2 hidden-print">
        <img src="/img/resume/gu.png" class="img-responsive">
    </div>
    <div class="col-md-10">
        <h4>Санкт-Петербургский Государственный Университет</h4>

        <p>
            Математико-механический факультет<br>
            Фундаментальные информатика и информационные технологии (Магистр)
        </p>

        <div>2012-2014</div>
    </div>
</div>

<div class="row">
    <div class="col-md-2 hidden-print">
        <img src="/img/resume/smtu.png" class="img-responsive">
    </div>
    <div class="col-md-10">
        <h4>Санкт-Петербургский Государственный Морской Технический Университет</h4>

        <p>
            Факультет кораблестроения и океанотехники<br>
            Прикладная математика (Специалист)
        </p>

        <div>2005-2010</div>
    </div>
</div>

<hr>

<h2 class="text-muted">Опыт работы</h2>
<div class="experience">
    <div class="row">
        <div class="col-md-2">
            2012-{{ site.time | date: '%Y' }}
        </div>
        <div class="col-md-10">
            <h4>Freelance</h4>
            <h6>Программист PHP</h6>
            Разработка чата ElfChat, создание сайтов.
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            2011-2012
        </div>
        <div class="col-md-10">
            <h4>ДииипМи, ООО</h4>
            <h6>Программист PHP</h6>
            Разработка портала deeep.me, разработка сайтов.
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            2011-2011
        </div>
        <div class="col-md-10">
            <h4>Концерн Морское подводное оружие – Гидроприбор, ОАО</h4>
            <h6>Инженер-конструктор второй категории</h6>
            Разработка алгоритмов, проектирование приборов.
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            2010-2011
        </div>
        <div class="col-md-10">
            <h4>Бивайб, ООО</h4>
            <h6>Программист PHP</h6>
            Разработка тематической социальной сети по фильмам.
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            2007-2010
        </div>
        <div class="col-md-10">
            <h4>Freelance</h4>
            <h6>Программист PHP</h6>
            Разработка дополнений к веб-чатам, разработка сайтов.
        </div>
    </div>
</div>